{{ define "main" }}
<div class="post">

  {{ with .Params.tags }}
  <div class="post__tags">
    {{ range . }}
      <a class="post__tag" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}

  <section class="post__content">
    <a href="{{ .Params.homepageUrl}}"><h1 id="title">{{ .Title }}</h1></a>
    <div>
      <article>
        <h3>Field</h3>  
        <p>{{ .Params.field }}</p>
        <h3>English Usage</h3>  
        {{ if eq .Params.english "main"}}
          <p>English as main language</p>
        {{ else }}
          <p>Accepts non-Korean speaker</p>
        {{ end }}
        <h3>URLs</h3>
        <ul>
          {{ if isset .Params "linkedinurl" }}
            <li><a href="{{ .Params.linkedinUrl }}">LinkedIn</a></li>
          {{ end }}
          {{ if isset .Params "careerurl" }}
            <li><a href="{{ .Params.careerUrl }}">Career Page</a></li>
          {{ end }}
        </ul>
      </article>
    </div>
  </section>
</div>
{{ end }}
